<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.spring.silli.member.mapper.UserMapper">

<select id="checkuserIdExist" parameterType="java.lang.String" resultType="java.lang.Integer">
<![CDATA[
	select count(*) as user_id
		from user_table
		where user_id=#{user_id}
]]>
</select>

<insert id="write" parameterType="kr.spring.silli.member.vo.UserVO">
<![CDATA[
	insert into 
		user_table(user_id,user_pw,user_name) 
		values(
			#{user_id}
			,#{user_pw}
			,#{user_name}
		)
]]>
</insert>

<select id="memLogin" parameterType="kr.spring.silli.member.vo.UserVO" resultType="kr.spring.silli.member.vo.UserVO">
<![CDATA[
	select 
		user_id
		,user_name
		,user_pw
	from
		user_table
	where 
		user_id=#{user_id} 
		AND
		user_pw=#{user_pw}
]]>
</select>
</mapper>
